body{
    font-family: Roboto, sans-serif;
    color:#f9faf8;
    margin:0px;
    display: flex;
    flex-direction: column;

    /*
    background-color: #f9faf8;
    color: #1f2937;
    */
}

.header, .sect1, .sect3, .sect4, .footer{
    display: flex;
    margin:0px;
    padding-left: 80px;
    padding-right: 80px;
}
.sect2{
    padding-left: 40px;
    padding-right: 40px;
}

ul{
    list-style: none;
    margin: 0;
    display: flex;
}

.header{
    background-color:#1f2937;
}

.sect1{
    background-color:#1f2937;
    flex: 0 1 auto;
    display: flex;
}

img{
    max-width:100%;
    max-height: 100%;
}

button{
    padding: 10px;
    flex:0 0 auto;
}

.sect2{
    background-color:#f9faf8;
    color:#1f2937;
    text-align: center;

}

.sect2 h2{
    font-size: 36px;
    font-weight: 900;
    margin: 40px;
}

.card_container{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 60px;
}

.card{
    width: 250px;
}

.card p{
    margin:8px;
}


.card img{
    border: #3882f6 solid 5px;
    border-radius: 10px;
    width: 100%;

}

.sect3{
    background-color:#e5e7eb;
    color:#1f2937;
    flex-direction: column;
}
.sect3 *{
    margin:0px;
}

.quote{
    align-self: flex-start;
}
.quote_source{
    align-self: flex-end;
}

.sect4{
    background-color:#f9faf8;
    justify-content: center;
    align-items: center;
}

.sect4>.container{
    display: flex;
    background-color:#3882f6;
    color:#f9faf8;
}

.button_container{
    display: flex;
    align-items:center;
    justify-content:center;
}

.footer{
    display: flex;
    justify-content: center;
    background-color:#1f2937;


}